html, body {
	 margin: 0;
	 padding: 0;
	 border: 0;
}

#hireus {
	margin-top: -40px;
	position: relative;
	float: right;
}

.container {
	margin-top: -18px;
	background-color: white;
	height: 75px;
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-family: 'Baloo Bhaijaan', cursive;
}

.logo {
	float: left;
	margin-left: 100px;
	padding-top: 30px;
}

ul {
	padding-top: 30px;
}

li {
	display: inline;
}

li a {
	text-decoration: none;
	color: gray;
	padding: 20px;
}

.nav a {
	display: inline-block;
	padding-bottom: 3px;
	margin-top: -30px;
}
.nav a:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.nav a:hover:after {
	width: 100%;
	background: rgb(249, 133, 97);
}

.nav button {
	width: 70px;
	height: 25px;
	margin-left: 50px;
	color: white;
	font-family: 'Baloo Bhaijaan', cursive;
	background-color: rgb(249, 133, 97);
	border: none;
	border-radius: 3px;
}

.nav button:hover {
	background-color: rgb(229, 157, 135);
}

input {
	float: right;
}

.slider {
	height: 500px;
	width: 100%;
	text-align: center;
	background: url(assets/walpaper.jpg) center;
	background-size: cover ;
	background-repeat: no-repeat;
}

.slider h1 {
	text-align: center;
	color: white;
	padding-top: 40px;
	font-family: 'Baloo Bhaijaan', cursive;
}

.slider p {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color: white;
	width: 600px;
}

.slider button {
	width: 150px;
	height: 50px;
	margin-top: 60px;
	margin-left: 15px;
	font-size: 20px;
	color: white;
	font-family: 'Baloo Bhaijaan', cursive;
	background-color: rgb(249, 133, 97);
	border: none;
	border-radius: 3px;
}

.slider button:hover {
	background-color: rgb(229, 157, 135);
}

.services {
	height: 500px;
	width: 100%;;
}

.services li {
	display: inline-block;
	text-align: center;
	font-family: 'Baloo Bhaijaan', cursive;
	color:#333;
	margin-left: 30px;
	padding: 5px;
}

.services p {
	display: table;
	float: left;
	border: 1px solid transparent;
}

.ourservices {
	display: block;
	margin-left: 45%;
	margin-top: -15px;
}

.portfolio {
	height: 600px;
	width: 100%;
	background-color: #333;
}

.portfolio h1 {
	color: white;
	padding-top: 60px;
	padding-left: 60px;
	font-family: 'Baloo Bhaijaan', cursive;
}

.offer {
	height: 400px;
	width: 100%;
}


.offer h1, p {
	text-align: center;
	font-family: 'Baloo Bhaijaan', cursive;
}

.offer li {
	display: inline-block;
	text-align: center;
	font-family: 'Baloo Bhaijaan', cursive;
	margin-left: 30px;
	padding: 5px;
}

.offer li h2 {
	color: #3498db;
}

.my-footer {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
}

.my-footer .my-footer-left,
.my-footer .my-footer-center,
.my-footer .my-footer-right {
	display: inline-block;
	vertical-align: top;
}

.my-footer .my-footer-left {
	width: 40%;
}

.my-footer h3 {
	color:  #ffffff;
	font: normal 36px 'Baloo Bhaijaan', cursive;
	margin: 0;
}

.my-footer h3 span {
	color:  #5383d3;
}

.my-footer .my-footer-links {
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.my-footer .my-footer-links a {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.my-footer .company-name {
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.my-footer .my-footer-center {
	width: 35%;
}

.my-footer .my-footer-center i {
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.my-footer .my-footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.my-footer .my-footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.my-footer .my-footer-center p span {
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.my-footer .my-footer-center p a {
	color:  #5383d3;
	text-decoration: none;;
}

.my-footer .my-footer-right {
	width: 20%;
}

.my-footer .company-about {
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.my-footer .company-about span {
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.my-footer .my-footer-icons {
	margin-top: 25px;
}

.my-footer .my-footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
